.all{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 2px blue;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}
.bntClick{
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 5px;
  border: 1px solid gray;
  width: 100px;
}
.imgYou{
  width: 300px;
  border-radius: 20px;
}